* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #fdfdfd;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
  }
  main {
    max-width: 900px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
  }
  .responsive{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
  }
 .container1
 {
    border: 1px solid black;
    width: 100%;
    background-color: mintcream;
    padding: 70px;
    border-radius: 10px 10px;
 }
 .container2 {
    border: 1px solid black;
    float:left;
    width: 100%;
    background-color: mintcream;
    padding: 70px;
    border-radius: 10px 10px;
}